<div class="text-center">
  {% for social in site.data.socials %}
    {% case social[0] %}
      {% when 'academia' %}
        <a href="https://{{ social[1].organization }}.academia.edu/{{ social[1].user }}" title="Academia" style="color: inherit;"><i class="ai ai-academia fa-3x"></i></a>
      {% when 'acm_id' %}
        <a href="https://dl.acm.org/profile/{{ social[1] }}" title="ACM DL" style="color: inherit;"><i class="ai ai-acm fa-3x"></i></a>
      {% when 'blogger_url' %}
        <a href="{{ social[1] }}" title="Blogger" style="color: inherit;"><i class="fab fa-blogger fa-3x"></i></a>
      {% when 'bluesky_url' %}
        <a href="{{ social[1] }}" title="Bluesky" style="color: inherit;"><i class="fab fa-bluesky fa-3x"></i></a>
      {% when 'dblp_url' %}
        <a href="{{ social[1] }}" title="DBLP" style="color: inherit;"><i class="ai ai-dblp fa-3x"></i></a>
      {% when 'discord_id' %}
        <a href="https://discord.com/users/{{ social[1] }}" title="Discord" style="color: inherit;"><i class="fab fa-discord fa-3x"></i></a>
      {% when 'email' %}
        <a href="mailto:{{ social[1] | encode_email }}" title="email" style="color: inherit;"><i class="fas fa-envelope fa-3x"></i></a>
      {% when 'facebook_id' %}
        <a href="https://facebook.com/{{ social[1] }}" title="Facebook" style="color: inherit;"><i class="fab fa-facebook fa-3x"></i></a>
      {% when 'flickr_id' %}
        <a href="https://www.flickr.com/{{ social[1] }}" title="Flickr" style="color: inherit;"><i class="fab fa-flickr fa-3x"></i></a>
      {% when 'github_username' %}
        <a href="https://github.com/{{ social[1] }}" title="GitHub" target="_blank" style="color: inherit;"><i class="fab fa-github fa-3x"></i></a>
      {% when 'gitlab_username' %}
        <a href="https://gitlab.com/{{ social[1] }}" title="GitLab" style="color: inherit;"><i class="fab fa-gitlab fa-3x"></i></a>
      {% when 'hal_id' %}
        <a href="https://cv.hal.science/{{ social[1] }}" title="HAL" style="color: inherit;"><i class="ai ai-hal fa-3x"></i></a>
      {% when 'ieee_id' %}
        <a href="https://ieeexplore.ieee.org/author/{{ social[1] }}" title="IEEE" style="color: inherit;"><i class="ai ai-ieee fa-3x"></i></a>
      {% when 'inspirehep_id' %}
        <a href="https://inspirehep.net/authors/{{ social[1] }}" title="Inspire HEP" style="color: inherit;"><i class="ai ai-inspire fa-3x"></i></a>
      {% when 'instagram_id' %}
        <a href="https://instagram.com/{{ social[1] }}" title="Instagram" style="color: inherit;"><i class="fab fa-instagram fa-3x"></i></a>
      {% when 'kaggle_id' %}
        <a href="https://www.kaggle.com/{{ social[1] }}" title="Kaggle" style="color: inherit;"><i class="fab fa-kaggle fa-3x"></i></a>
      {% when 'linkedin_username' %}
        <a href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn" target="_blank" style="color: inherit;"><i class="fab fa-linkedin fa-3x"></i></a>
      {% when 'medium_username' %}
        <a href="https://medium.com/@{{ social[1] }}" title="Medium" style="color: inherit;"><i class="fab fa-medium fa-3x"></i></a>
      {% when 'orcid_id' %}
        <a href="https://orcid.org/{{ social[1] }}" title="ORCID" style="color: inherit;"><i class="ai ai-orcid fa-3x"></i></a>
      {% when 'patreon_username' %}
        <a href="https://www.patreon.com/{{ social[1] }}" title="Patreon" style="color: inherit;"><i class="fab fa-patreon fa-3x"></i></a>
      {% when 'pinterest_username' %}
        <a href="https://www.pinterest.com/{{ social[1] }}" title="Pinterest" style="color: inherit;"><i class="fab fa-pinterest fa-3x"></i></a>
      {% when 'publons_id' %}
        <a href="https://publons.com/a/{{ social[1] }}/" title="Publons" style="color: inherit;"><i class="ai ai-publons fa-3x"></i></a>
      {% when 'quora_username' %}
        <a href="https://www.quora.com/profile/{{ social[1] }}" title="Quora" style="color: inherit;"><i class="fab fa-quora fa-3x"></i></a>
      {% when 'research_gate_profile' %}
        <a href="https://www.researchgate.net/profile/{{ social[1] }}/" title="ResearchGate" style="color: inherit;"><i class="ai ai-researchgate fa-3x"></i></a>
      {% when 'scholar_userid' %}
        <a href="https://scholar.google.com/citations?user={{ social[1] }}" title="Google Scholar" style="color: inherit;"><i class="ai ai-google-scholar fa-3x"></i></a>
      {% when 'semanticscholar_id' %}
        <a href="https://www.semanticscholar.org/author/{{ social[1] }}" title="Semantic Scholar" style="color: inherit;"><i class="ai ai-semantic-scholar fa-3x"></i></a>
      {% when 'snapchat_username' %}
        <a href="https://www.snapchat.com/add/{{ social[1] }}" title="Snapchat" style="color: inherit;"><i class="fab fa-snapchat fa-3x"></i></a>
      {% when 'stackoverflow_id' %}
        <a href="https://stackoverflow.com/users/{{ social[1] }}" title="Stack Exchange" style="color: inherit;"><i class="fab fa-stack-overflow fa-3x"></i></a>
      {% when 'strava_userid' %}
        <a href="https://www.strava.com/athletes/{{ social[1] }}" title="STRAVA" style="color: inherit;"><i class="fab fa-strava fa-3x"></i></a>
      {% when 'telegram_username' %}
        <a href="https://t.me/{{ social[1] }}" title="telegram" style="color: inherit;"><i class="fab fa-telegram fa-3x"></i></a>
      {% when 'tiktok_username' %}
        <a href="https://www.tiktok.com/@{{ social[1] }}" title="TikTok" style="color: inherit;"><i class="fab fa-tiktok fa-3x"></i></a>
      {% when 'twitter_username' %}
        <a href="https://twitter.com/{{ social[1] }}" title="Twitter" style="color: inherit;"><i class="fab fa-twitter fa-3x"></i></a>
      {% when 'x_username' %}
        <a href="https://x.com/{{ social[1] }}" title="X" style="color: inherit;"><i class="fab fa-x-twitter fa-3x"></i></a>
      {% when 'whatsapp_number' %}
        <a href="https.wa.me/{{ social[1] }}" title="WhatsApp" style="color: inherit;"><i class="fab fa-whatsapp fa-3x"></i></a>
      {% when 'work_url' %}
        <a href="{{ social[1] }}" title="Work" style="color: inherit;"><i class="fas fa-briefcase fa-3x"></i></a>
      {% when 'youtube_channel_id' %}
        <a href="https://www.youtube.com/channel/{{ social[1] }}" title="Youtube" style="color: inherit;"><i class="fab fa-youtube fa-3x"></i></a>
      {% when 'zhihu_username' %}
        <a href="https://www.zhihu.com/people/{{ social[1] }}" title="Zhihu" style="color: inherit;"><i class="fab fa-zhihu fa-3x"></i></a>
    {% endcase %}
  {% endfor %}
</div>